<app-dashboard-header></app-dashboard-header>
<div class="grid grid-cols-1 lg:grid-cols-2 gap-5 mb-8">
  <app-card-salary></app-card-salary>
  <app-card-movements></app-card-movements>
</div>
<app-timeline-transaction></app-timeline-transaction>
<div class="grid grid-cols-1 lg:grid-cols-2 gap-5 mb-8">
  <!-- Resumen de Deudas -->
  <app-card-debt-summary></app-card-debt-summary>
  <!-- Distribución de Categorías -->
  <app-card-categories-distribution></app-card-categories-distribution>
</div>
<!-- Timeline de Transacciones -->
<app-calendar></app-calendar>
<!-- Análisis de Preferencias -->
<div class="grid grid-cols-1 lg:grid-cols-2 gap-5 mb-8">
  <!-- Configuración de Notificaciones -->
  <app-card-notification></app-card-notification>
  <!-- Metas Financieras -->
  <app-card-goals></app-card-goals>
</div>