<!-- src/app/chat/components/message-input/message-input.component.html -->
<div class="p-4 bg-white dark:bg-gray-800 border-t border-gray-200 dark:border-gray-700">
    <form [formGroup]="messageForm!" (ngSubmit)="sendMessage()" class="flex items-end space-x-2">
      <!-- Input de Texto -->
      <div class="flex-1 relative">
        <textarea
          formControlName="message"
          rows="1"
          class="w-full px-4 py-2 bg-gray-50 dark:bg-gray-700/80 rounded-lg border border-gray-200/80 dark:border-gray-600/80 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent text-sm text-gray-700 dark:text-gray-200 resize-none"
          placeholder="Escribe un mensaje..."
          (input)="autoResize($event)"
        ></textarea>
      </div>
  
      <div class="flex space-x-2">
        <!-- Botón de Subir Imagen -->
        <label
          for="file-upload"
          class="p-2.5 bg-gray-100 dark:bg-gray-700 rounded-lg cursor-pointer hover:bg-gray-200 dark:hover:bg-gray-600 flex items-center justify-center"
        >
          <input 
            type="file" 
            id="file-upload" 
            class="hidden" 
            accept="image/*" 
            (change)="onFileSelected($event)"
          />
          <svg class="w-5 h-5 text-gray-600 dark:text-gray-300" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
          </svg>
        </label>
  
        <!-- Botón de Enviar -->
        <button
          type="submit"
          [disabled]="messageForm.invalid && !selectedImage()"
          [class.opacity-50]="messageForm.invalid && !selectedImage()"
          [class.cursor-not-allowed]="messageForm.invalid && !selectedImage()"
          class="p-2.5 bg-blue-500 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 flex items-center justify-center"
        >
          <svg class="w-5 h-5 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"></path>
          </svg>
        </button>
      </div>
    </form>
  </div>