<!-- message-item.component.html -->
@if (message().type === 'bot') {
  <div class="flex items-start space-x-4 animate-fade-in mb-6 group hover:bg-gray-50/50 dark:hover:bg-gray-900/20 p-2 rounded-lg transition-all duration-200">
    <div class="w-10 h-10 rounded-full bg-white dark:bg-gray-700 flex items-center justify-center shadow-sm">
      <div class="w-8 h-8 overflow-hidden">
        <logo-app class="w-full h-full"></logo-app>
      </div>
    </div>
    <div class="bg-blue-50 dark:bg-blue-900/40 rounded-2xl rounded-tl-none p-4 md:p-5 max-w-[85%] md:max-w-[80%] shadow-sm border border-blue-100/50 dark:border-blue-800/30">
      <!-- Contenido formateado -->
      <div 
        class="text-sm md:text-base text-gray-800 dark:text-gray-200 leading-relaxed"
        [innerHTML]="message().text | formatText">
      </div>
      <span class="text-xs text-gray-500 dark:text-gray-400 mt-4 block font-medium">{{message().time}}</span>
    </div>
  </div>
} @else if (message().type === 'bot-card') {
  <div class="flex flex-col items-center animate-fade-in mb-6 group hover:bg-gray-50/50 dark:hover:bg-gray-900/20 p-2 rounded-lg transition-all duration-200">
    <div class="flex w-full justify-start mb-4 p-4 bg-gray-100 dark:bg-gray-800 rounded-2xl shadow-sm border-l-4" 
    [class]="message().transaction?.category?.type === 'Ingreso' ? 'border-l-green-500' : 'border-l-red-500'">
      <div class="w-10 h-10 rounded-full bg-white dark:bg-gray-700 flex items-center justify-center shadow-sm">
        <div class="w-8 h-8 overflow-hidden">
          <logo-app class="w-full h-full"></logo-app>
        </div>
      </div>
      <div class="ml-3 flex flex-col justify-center">
        <span class="text-sm font-medium"
              [class]="message().transaction?.category?.type === 'Ingreso' ? 'text-green-700 dark:text-green-300' : 'text-red-700 dark:text-red-300'">
          @if (message().transaction?.category?.type === 'Ingreso') {
            ¡Ingreso registrado correctamente!
          } @else {
            Gasto registrado correctamente
          }
        </span>
      </div>
    </div>
    <div class="bg-blue-50 dark:bg-blue-900/40 rounded-2xl p-3 md:p-4 max-w-full sm:max-w-[80%] md:max-w-[75%] shadow-sm border-spacing-4 border-blue-100/50 dark:border-blue-800/30">   
      <app-chat-transaction-card 
      [idMessage]="message().id"
      [transaction]="message().transaction!"></app-chat-transaction-card>
      <span class="text-xs text-gray-500 dark:text-gray-400 mt-3 block font-medium">{{ message().time }}</span>
    </div>
  </div>
} @else if (message().type === 'bot-multiple-transactions') {
  <div class="flex flex-col items-center animate-fade-in mb-6 group hover:bg-gray-50/50 dark:hover:bg-gray-900/20 p-2 rounded-lg transition-all duration-200">
    <div class="flex w-full justify-start mb-4 p-4 bg-gray-100 dark:bg-gray-800 rounded-2xl shadow-sm border-l-4 border-l-blue-500">
      <div class="w-10 h-10 rounded-full bg-white dark:bg-gray-700 flex items-center justify-center shadow-sm">
        <div class="w-8 h-8 overflow-hidden">
          <logo-app class="w-full h-full"></logo-app>
        </div>
      </div>
      <div class="ml-3 flex flex-col justify-center">
        <span class="text-sm font-medium text-blue-700 dark:text-blue-300">
          Se han detectado múltiples transacciones
        </span>
      </div>
    </div>
    <div class="bg-blue-50 dark:bg-blue-900/40 rounded-2xl p-3 md:p-4 max-w-full sm:max-w-[90%] md:max-w-[85%] shadow-sm border-spacing-4 border-blue-100/50 dark:border-blue-800/30 w-full">   
      <app-chat-multiple-transactions-card 
        [idMessage]="message().id"
        [transactionsData]="message().transactions!"
        [receiptImageS3Key]="message().receiptImageS3Key || ''"></app-chat-multiple-transactions-card>
      <span class="text-xs text-gray-500 dark:text-gray-400 mt-3 block font-medium">{{ message().time }}</span>
    </div>
  </div>
} @else {
  <div class="flex items-start justify-end space-x-4 animate-fade-in mb-6 group hover:bg-gray-50/50 dark:hover:bg-gray-900/20 p-2 rounded-lg transition-all duration-200">
    <div class="bg-indigo-50 dark:bg-indigo-900/40 rounded-2xl rounded-tr-none p-3 md:p-4 max-w-[80%] md:max-w-[75%] shadow-sm border border-indigo-100/50 dark:border-indigo-800/30">
      <p class="text-sm md:text-base text-gray-800 dark:text-gray-200 whitespace-pre-line leading-relaxed">{{message().text}}</p>
      
      @if (message().imageUrl) {
        <div class="mt-4 rounded-xl overflow-hidden shadow-md">
          <img [src]="message().imageUrl" alt="Imagen enviada" class="max-w-full max-h-60 md:max-h-80 object-contain bg-gray-100 dark:bg-gray-700 transition-all hover:scale-[1.02] cursor-zoom-in">
        </div>
      }
      
      <span class="text-xs text-gray-500 dark:text-gray-400 mt-3 block text-right font-medium">{{message().time}}</span>
    </div>
    <div class="w-10 h-10 md:w-12 md:h-12 rounded-full flex items-center justify-center flex-shrink-0 shadow-md overflow-hidden border-2 border-white dark:border-gray-800 transition-transform group-hover:scale-105">
      @if (avatar() === '' || avatar() === null) {
        <svg class="w-6 h-6 md:w-7 md:h-7 text-white" fill="currentColor" viewBox="0 0 24 24">
          <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
        </svg>
      } @else {
        <img class="w-full h-full object-cover" [src]="avatar()" alt="Avatar del usuario">
      }
    </div>
  </div>
}