<div class="filters">
    <div class="filter-group">
      <label for="startMonth">Mes de inicio:</label>
      <select id="startMonth" [(ngModel)]="startMonth" (change)="onFilterChange()">
        <option value="">Seleccionar mes</option>
        <option value="01">Enero</option>
        <option value="02">Febrero</option>
        <option value="03">Marzo</option>
        <option value="04">Abril</option>
        <option value="05">Mayo</option>
        <option value="06">Junio</option>
        <option value="07">Julio</option>
        <option value="08">Agosto</option>
        <option value="09">Septiembre</option>
        <option value="10">Octubre</option>
        <option value="11">Noviembre</option>
        <option value="12">Diciembre</option>
      </select>
    </div>
  
    <div class="filter-group">
      <label for="startYear">Año de inicio:</label>
      <select id="startYear" [(ngModel)]="startYear" (change)="onFilterChange()">
        <option value="">Seleccionar año</option>
        @for (year of years; track year) {
          <option [value]="year">{{ year }}</option>
        }
      </select>
    </div>
    <div class="filter-group">
      <label for="endMonth">Mes de fin:</label>
      <select id="endMonth" [(ngModel)]="endMonth" (change)="onFilterChange()">
        <option value="">Seleccionar mes</option>
        <option value="01">Enero</option>
        <option value="02">Febrero</option>
        <option value="03">Marzo</option>
        <option value="04">Abril</option>
        <option value="05">Mayo</option>
        <option value="06">Junio</option>
        <option value="07">Julio</option>
        <option value="08">Agosto</option>
        <option value="09">Septiembre</option>
        <option value="10">Octubre</option>
        <option value="11">Noviembre</option>
        <option value="12">Diciembre</option>
      </select>
    </div>
  
    <div class="filter-group">
      <label for="endYear">Año de fin:</label>
      <select id="endYear" [(ngModel)]="endYear" (change)="onFilterChange()">
        <option value="">Seleccionar año</option>
        @for (year of years; track year) {
          <option [value]="year">{{ year }}</option>
        }
      </select>
    </div>
  </div>

