<ul class="space-y-2">
  @for (item of menuItems(); track item.label) {
  @if (item.type === 'link') {
  <li>
    <a [routerLink]="item.route" [routerLinkActive]="item.activeClass || ''"
      class="flex items-center p-2 text-base font-medium text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
      @if (item.icon) {
      <ng-container class="mr-3" *ngComponentOutlet="item.icon"></ng-container>
      }
      <span class="flex-1 whitespace-nowrap">{{ item.label }}</span>

      @if (item.badge) {
      <span
        class="inline-flex justify-center items-center w-5 h-5 text-xs font-semibold rounded-full text-primary-800 bg-primary-100 dark:bg-primary-200 dark:text-primary-800">
        {{ item.badge }}
      </span>
      }
    </a>
  </li>
  }
  @else if (item.type === 'dropdown') {
  <li>
    <button type="button" (click)="toggleDropdown(item.label)"
      class="flex items-center p-2 w-full text-base font-medium text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
      @if (item.icon) {
      <ng-container class="mr-3" *ngComponentOutlet="item.icon"></ng-container>
      }
      <span class="flex-1 ml-3 text-left whitespace-nowrap">{{ item.label }}</span>
      <svg aria-hidden="true" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
          clip-rule="evenodd"></path>
      </svg>
    </button>

    @if (isDropdownOpen()(item.label)) {
    <ul class="py-2 space-y-2">
      @for (subItem of item.subItems; track subItem.label) {
      <li>
        <a [routerLink]="subItem.route" routerLinkActive="bg-gray-100 dark:bg-gray-700"
          class="flex items-center p-2 pl-11 w-full text-base font-medium text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
          @if (subItem.icon) {
          <ng-container class="mr-3" *ngComponentOutlet="subItem.icon"></ng-container>
          }
          {{ subItem.label }}
        </a>
      </li>
      }
    </ul>
    }
  </li>
  }
  }
</ul>