<ul class="space-y-2">
  @for (item of menuItems(); track item.label) {
    @if (item.type === 'link') {
      <li>
        <a [routerLink]="item.route" [routerLinkActive]="item.activeClass || ''"
          class="flex items-center p-2 text-base font-medium text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          @if (item.icon) {
            <ng-container *ngComponentOutlet="item.icon"></ng-container>
          }
          <span class="flex-1 ml-3 whitespace-nowrap">{{ item.label }}</span>
        </a>
      </li>
    } @else if (item.type === 'dropdown') {
      <li>
        <div class="relative">
          <button 
            type="button" 
            (click)="toggleDropdown(item.label)"
            class="flex items-center p-2 w-full text-base font-medium text-gray-900 rounded-lg transition duration-300 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
          >
            @if (item.icon) {
              <ng-container *ngComponentOutlet="item.icon"></ng-container>
            }
            <span class="flex-1 ml-3 text-left whitespace-nowrap">{{ item.label }}</span>
            
            <svg 
              class="w-5 h-5 transition-transform duration-300" 
              [class.rotate-180]="isDropdownOpen()(item.label)"
              fill="none" 
              stroke="currentColor" 
              viewBox="0 0 24 24" 
              xmlns="http://www.w3.org/2000/svg"
            >
              <path 
                stroke-linecap="round" 
                stroke-linejoin="round" 
                stroke-width="2" 
                d="M19 9l-7 7-7-7"
              />
            </svg>
          </button>

          @if (isDropdownOpen()(item.label)) {
            <ul class="py-2 space-y-2 pl-4 animate-fade-in">
              @for (subItem of item.subItems; track subItem.label) {
                <li>
                  <a 
                    [routerLink]="subItem.route" 
                    routerLinkActive="bg-gray-100 dark:bg-gray-700"
                    class="flex items-center p-2 w-full text-base font-medium text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
                  >
                    @if (subItem.icon) {
                      <ng-container *ngComponentOutlet="subItem.icon"></ng-container>
                    }
                    {{ subItem.label }}
                  </a>
                </li>
              }
            </ul>
          }
        </div>
      </li>
    }
  }
</ul>