.analysis-progress-bar {
    width: 30%;
    position: relative;
    animation: analysisProgress 2s ease-in-out infinite;
  }
  
  @keyframes analysisProgress {
    0% {
      left: -30%;
      width: 30%;
    }
    50% {
      width: 30%;
      left: 35%;
    }
    100% {
      left: 100%;
      width: 30%;
    }
  }