<!-- 
@if (transactions.isLoading()) {
<skeleton-filters></skeleton-filters>
<LoaderUi></LoaderUi>
} @else {
<filters-transaction
  [transactions]="transactions.value()?.data ?? []"
  (filterChange)="onFilterChange($event)"
></filters-transaction>
@if (_screenService.isMobile()) {
<ng-container [ngTemplateOutlet]="mobileView"></ng-container>
} @else {
<ng-container [ngTemplateOutlet]="desktopView"></ng-container>
} }

<ng-template #desktopView>
  <view-desktop [filteredTransactions]="filteredTransactions()"></view-desktop>
</ng-template>


<ng-template #mobileView>
  <view-mobile [filteredTransactions]="filteredTransactions()"></view-mobile>
</ng-template> -->


<app-search-filter-transaction></app-search-filter-transaction>

