<aside
      [class.translate-x-0]="isOpen()"
      [class.-translate-x-full]="!isOpen()"
      class="fixed top-0 left-0 z-40 w-64 h-screen pt-14 transition-transform bg-white border-r border-gray-200 md:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="overflow-y-auto py-5 px-3 h-full bg-white dark:bg-gray-800">
        <app-sidebar-items (itemSelected)="onItemSelected()" />
      </div>
    </aside>
    
    @if (isOpen()) {
      <div 
        class="fixed inset-0 bg-gray-900 bg-opacity-50 z-30 md:hidden"
        (click)="closeSidebar">
      </div>
    }