<!-- app-card-user.component.html -->
<div class="w-full">
  @if(userName() && userApellido()){
  <div
    class="bg-white dark:bg-gray-800 shadow-lg rounded-lg overflow-hidden flex items-start space-x-4 p-6"
  >
    <!-- Avatar with Initials -->
    <div class="flex-shrink-0">
      <div
        class="w-16 h-16 bg-blue-500 dark:bg-blue-700 text-white rounded-full flex items-center justify-center text-2xl font-bold"
      >
        {{ (userName().charAt(0) + userApellido().charAt(0)).toUpperCase() }}
      </div>
    </div>

    <!-- User Details -->
    <div class="flex-grow">
      <h2 class="text-xl font-bold mb-2 text-gray-900 dark:text-white">
        Datos del Usuario
      </h2>
      <p class="text-gray-700 dark:text-gray-300 text-base">
        <span class="font-semibold text-gray-900 dark:text-white">Nombre: </span
        >{{ userName() }}
      </p>
      <p class="text-gray-700 dark:text-gray-300 text-base">
        <span class="font-semibold text-gray-900 dark:text-white"
          >Apellido: </span
        >{{ userApellido() }}
      </p>
    </div>
  </div>
  } @else {
  <div class="px-6 py-4">
    <p class="text-gray-700 dark:text-gray-300 text-base">
      No hay usuarios disponibles.
    </p>
  </div>
  }
</div>
