
  
  /* Animaciones personalizadas */
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(8px); }
    to { opacity: 1; transform: translateY(0); }
  }
  
  .animate-fadeIn {
    animation: fadeIn 0.3s ease-in-out;
  }
  
  /* Estilos de transición para los tabs */
  .tab-transition {
    @apply transition-all duration-300 ease-in-out;
  }
  


  
  /* Mejoras responsivas */
  @media (max-width: 640px) {
    .responsive-tabs {
      @apply flex-wrap;
    }
    
    .responsive-tabs button {
      @apply text-xs py-2;
    }
  }



  .overflow-x-auto::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
  .overflow-x-auto {
    -ms-overflow-style: none; /* Internet Explorer y Edge */
    scrollbar-width: none; /* Firefox */
  }