<form [formGroup]="passwordForm" (ngSubmit)="resetPassword()">
    <div class="space-y-4">
      <div>
        <label for="newPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
          Nueva Contraseña
        </label>
        <input
          type="password"
          formControlName="newPassword"
          class="w-full p-2.5 text-sm rounded-lg border 
            @if (passwordForm.get('newPassword')?.invalid && passwordForm.get('newPassword')?.touched) {
              border-red-500 text-red-900 
            } @else {
              border-gray-300 text-gray-900
            }
            dark:bg-gray-700 dark:border-gray-600 dark:text-white"
          placeholder="Ingresa tu nueva contraseña"
        >
        @if (passwordForm.get('newPassword')?.invalid && passwordForm.get('newPassword')?.touched) {
          <p class="mt-2 text-sm text-red-600 dark:text-red-500">
            @if (passwordForm.get('newPassword')?.errors?.['required']) {
              La contraseña es obligatoria
            } @else if (passwordForm.get('newPassword')?.errors?.['minlength']) {
              La contraseña debe tener al menos 6 caracteres
            }
          </p>
        }
      </div>
      <div>
        <label for="confirmPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
          Confirmar Contraseña
        </label>
        <input
          type="password"
          formControlName="confirmPassword"
          class="w-full p-2.5 text-sm rounded-lg border 
            @if ((passwordForm.get('confirmPassword')?.invalid || passwordForm.hasError('passwordMismatch')) && passwordForm.get('confirmPassword')?.touched) {
              border-red-500 text-red-900 
            } @else {
              border-gray-300 text-gray-900
            }
            dark:bg-gray-700 dark:border-gray-600 dark:text-white"
          placeholder="Confirma tu nueva contraseña"
        >
        @if ((passwordForm.get('confirmPassword')?.invalid || passwordForm.hasError('passwordMismatch')) && passwordForm.get('confirmPassword')?.touched) {
          <p class="mt-2 text-sm text-red-600 dark:text-red-500">
            @if (passwordForm.get('confirmPassword')?.errors?.['required']) {
              Confirmar contraseña es obligatorio
            } @else if (passwordForm.hasError('passwordMismatch')) {
              Las contraseñas no coinciden
            }
          </p>
        }
      </div>
      <button
        type="submit"
        [disabled]="passwordForm.invalid"
        class="w-full text-white bg-primary-600 hover:bg-primary-700 
          focus:ring-4 focus:outline-none focus:ring-primary-300 
          font-medium rounded-lg text-sm px-5 py-2.5 text-center 
          transition-colors duration-300 ease-in-out
          disabled:opacity-50 disabled:cursor-not-allowed"
      >
        Restablecer Contraseña
      </button>
    </div>
  </form>