<!-- Loading State -->
@if (debts.isLoading()) {
<app-skeleton-debts></app-skeleton-debts>

} @else {
<filters-debt
  [debts]="debts.value()?.data ?? []"
  (filterChange)="onFilterChange($event)"
></filters-debt>

@if (selectedDebt()) {
  <app-card-details [debts]="filteredDebts()"></app-card-details>
<div class="mb-5 bg-white dark:bg-gray-800 rounded-lg shadow-lg p-6">
  
  @if (_screenService.isMobile()) {
    <app-card-amortization
      [filters]="filteredDebts()"
    ></app-card-amortization>
  } @else {
    <app-table-amortization [filters]="filteredDebts()"></app-table-amortization>
  }
</div>
} }
